body
	{
	background-color: black;
	color: white;
	margin-left: 20px;
	max-width: 500px;
}

h1
{
	color: whitesmoke;
	font-size: 200%;
}
 img {
	 height: 50%;
	 width: 50%;
	 -webkit-filter: invert(1);
	 float: right;
 }